/nbproject/private/
/diff.jpg
/images/*.jpg
/*.log
/node_modules
/Logs
/package-lock.json
/magick-compare-result.txt
/_archive
/imgvisor-winfrm/imgvisor-winfrm/bin
/imgvisor-winfrm/.vs/
/imgvisor-winfrm/imgvisor-winfrm/obj/
/scripts/magick-capture.log
/scripts/magick-compare-result.txt
/scripts/test.log
/scripts/magick-capture.js.log
/scripts/images/
/scripts/diff.jpg
/scripts/magic-capture-exec.log
/scripts/package-lock.json
/scripts/node_modules/
