<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!-- Interval Milliseconds (how often job is done) -->
		<add key="intervalms"		 value="60000"/>
		<add key="jpgquality"		 value="30"/>

		<!-- How often form is minimized -->
		<add key="minintervalms"	  value="2000"/>
		<add key="fileFormat"		  value="yyyy-MM-dd-HHmm-ss"/>
		<add key="imagesFolder"		  value="%LOCALAPPDATA%\img-visor\backlog"/>

		<add key="caller_scripts_pwd" value="%ProgramFiles%\img-visor\scripts"/>
		<add key="winscp_caller"	  value="winscp-sync.vbs"/>		                                     
	</appSettings>	
</configuration>