<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="intervalms" value="60000"/>
	<add key="minintervalms" value="2000"/>
    <add key="step_1" value="E:\.imgvisor\magick-capture.vbs"/>
    <add key="step_2" value="E:\.imgvisor\winscp-sync.vbs"/>
    <add key="step_3" value="E:\.imgvisor\maintenance-call.vbs"/>
  </appSettings>
</configuration>